@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
